<div>
    <h3> Pesquisa de satisfação</h3>

    <div>
        <h3>Campos de arquivos local</h3>
        
        <div>
            <label for="field-complaintResponsible">Nome do atendente responsável</label>
            <input id="field-complaintResponsible" type="text" name="complaintResponsible">
        </div>
    
        <div>
            <label for="fieldContactDate">Dia do atendimento</label>
            <input id="fieldContactDate" type="text" name="fieldContactDate">
        </div>
    
        <div>
            <label for="fieldComplaintLevel">Nível da reclamação</label>
            <input id="fieldComplaintLevel" type="select" name="fieldComplaintLevel">
        </div>
    
        <div>
            <label for="fieldStatement">Comente o atendimento</label>
            <input id="fieldStatement" type="textarea" name="fieldStatement">
        </div>
    </div>
</div>