<div>
    <h3> Pesquisa de satisfação</h3>

    <div>
        <h3>Campos de arquivos local</h3>
        
        <div>
            <label for="field-complaint-responsible">Nome do atendente responsável</label>
            <input id="field-complaint-responsible" type="text" name="complaint-responsible">
        </div>
    
        <div>
            <label for="field-contact-date">Dia do atendimento</label>
            <input id="field-contact-date" type="text" name="contact-date">
        </div>
    
        <div>
            <label for="field-complaint-level">Nível da reclamação</label>
            <input id="field-complaint-level" type="select" name="complaint-level">
        </div>
    
        <div>
            <label for="field-statement">Comente o atendimento</label>
            <input id="field-statement" type="textarea" name="statement">
        </div>

        <button type="submit">Enviar</button>
    </div>
</div>